/* Custom fonts */
@font-face {
  font-family: Ubuntu;
  src: local("Ubuntu"),
       local("Ubuntu-Regular"),
       url(Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-Italic;
  src: local("Ubuntu-Italic"),
       url(Ubuntu-Italic.ttf);
}

/* Tag overrrides */
body {
    text-align: justify;
    text-justify: inter-word;  
    background-color: rgb(245, 245, 245);
}

body, h1, h2, h3, h4, h5{
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

h1{
    font-size: 3.0rem;
    text-align: left;
}

h2{
    font-size: 2.0rem;color:#37474f;
    margin-bottom: 0px;
}

h3{
    font-size: 1.5rem;
}

strong {
    font-size: 1.1em;
    color: darkblue;
}

a:focus { 
    outline: none; 
}

nav {
  background-color: #414654;
}

nav #sidenav-toggle {
  margin:0;
  z-index: 1006;
}

.nav-icons-left {
  margin-right: auto;
  margin-left: 10px;
}

.nav-icons-right {
  margin-left: auto;
  margin-right: 10px;
}

.nav-icon {
  flex:0;
  margin: 0 10px 0 10px;
  height: 100%;
  vertical-align: sub;
}
/*header, body, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, body, footer {
    padding-left: 0;
  }
}
    */    

/* Materializecss overrrides */
.carousel-slider {
    height: 400px !important;
}

/* Custom styles overrrides */
.dpg-opaque {
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=60);
  
  /* Modern Browsers */
  opacity: 0.6;
}

/*.dpg-italic {
  font-style: italic;
}

.dpg-icon {
    max-width:4rem;
    max-height:4rem;
}
.dpg-album-card, .dpg-album-image {
    max-height:300px;
}
*/
.dpg-album-card-image {
    height:250px;
    object-fit: cover;
    overflow : hidden;
}

.card-title {
  text-align: left;
}

.container {
  width: 100%; !important
}

.shadowed-black-text {
  text-shadow: 0px 0px 3px #000000;
}

.sidenav {
  z-index: 1001;
  background-color: rgb(245, 245, 245);
  height: 100%;
}

.sidenav-overlay {
  z-index: 1000; !important
}

.sidenav .user-view {
    margin-bottom: 0px; 
}

.sidenav .user-view .email {
    padding-bottom: 10px;
}

.sidenav li > a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
}

.sidenav li>a:hover {
    background-color: rgba(0,0,0,0.1);
}

.sidenav li > a > img {
    width: 40px;
    height: 40px;
    vertical-align: inherit;
    object-fit: cover;
}

.sidenav li > a > span {
  padding: 10px;
}

.sidenav-li-date {
    font-size: 10px;
    position: absolute;
    line-height: normal;
    right: 0%;
    bottom: 0%;
    /*padding: 10px;*/
}

.page-title {
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  flex-grow: 0;
  flex-basis: auto;
  margin: 0 10px 0 10px;
}

.flex-container-row {
  display: flex; /* or inline-flex */
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

.flex-container-col {
  display: flex; 
  flex-flow: column;
  height: 100vh;
}

.leaflet-container {  /* all maps */
  width:  100%;
  height: 100%;
}

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
    width: 100%;
}

.zoom-in-popup {
  position: absolute;
  bottom: -15px;
  right: -15px;
  margin: 0;
}

.extra-marker i {
    margin-left:2px;
}

.extra-marker i.custom-marker {
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
    margin-top: 13px;
    margin-left:1px;
}

#nav-bottom {
  justify-content: space-around;
  display: none;
}

#nav-bottom .page-title {
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*font-size: calc(2vw + 2vh);*/
}

a.btn {
    text-transform: none;
    color: rgb(245,245,245);
    padding: 3px 10px;
    height: unset;
    line-height: unset;
    font-size: unset;
}
/*  
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 2em; */

.custom__pswp__caption {
  background-color: rgba(0,0,0,.8); /*custom*/
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px; }
  .pswp__caption small {
    font-size: 11px;
    color: #BBB;
}
.custom__pswp__caption__center {
  text-align: left;
  max-width: 85%; /*custom*/
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC; }
}

.img-in-article {
  padding: 15px;
}

.hidden-link {
    color:inherit;
    text-decoration:none;
}

.flex-popup-row {
  display: flex; /* or inline-flex */
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.flex-popup-col {
  display: flex;  
  flex-flow: column;
  /*border-style: double;*/
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
}

.flex-popup-row i {
  padding: 3px;
}

.grid-popup-row  {
  display: flex; /* or inline-flex */
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.grid-popup-col {
  display: flex; 
  flex-flow: column;
  text-align: left;
}

.grid-popup-row i {
  padding: 3px;
}
.leaflet-popup-content-wrapper {
  width: 200px;
}