{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        {% for album in album_list %}
        <div class="col s12 m5 l4 push-m1">
            <div class="card dpg-album-card">
                <a  href="{% url 'album' album.1 %}"}>
                <div class="card-image">
                    <img src="{{ album.3.url }}" alt="{{ album.0 }}" class="dpg-album-card-image" />
                    <span class="white-text shadowed-black-text" style="position: absolute; margin: 20px; top:0%; right: 0%">{{ album.2 }}</span>
                    <span class="card-title shadowed-black-text">{{ album.0 }}</span>
                    
                </div>
                <!-- <div class="card-content">
                    <p class="right">{{ album.created|date:'d M Y'|truncatechars:120 }}</p>
                </div> -->
                </a>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div class="pagination center">
    <span class="step-links">
        {% if articles.has_previous %}
        <a href="?page={{ articles.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}