<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> {% block css %}{% endblock %}
</head>

<body>
    <nav role="navigation">
        <div class="flex-container">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left" style="position: absolute;left:0%"><i class="material-icons">menu</i></a> 
             
            <a class="page-title" href="{% url 'gallery' %}">Splitted NZ</a>
            <!-- <ul class="left hide-on-med-and-down">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul> -->
<!-- 
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul> -->
        <!-- </div> -->
    </nav>

    <ul id="slide-out" class="sidenav">
      <a href="#" data-target="slide-out" class="sidenav-close white-text shadowed-black-text" id=sidenav-closebtn><i class="material-icons">close</i></a> 
      <li><div class="user-view">
        <div class="background">
          <img class="responsive-img" src="{% static 'images/bg.jpg' %}">
        </div>
        <p><img class="circle right" src="{% static 'images/face.jpg' %}"></p></br>
        <span class="white-text shadowed-black-text name">Maxime Sainlot</span>
        <span class="white-text shadowed-black-text email">maxime.sainlot@gmail.com</span>
      </div></li>
      {% for album in album_list %}
        <li><a class="waves-effect" href="{% url 'album' album.1 %}">{{ album.0}} - {{ album.2 }}</a></li>
      {% endfor %}
    </ul>

    {% block content %}{% endblock %}

    <!-- <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Free - Sharing is Caring
                <a class="grey-text text-lighten-4 right" href="#!">Sample created by @VelinGeorgiev</a>
            </div>
        </div>
    </footer> -->

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'app.js' %}"></script> {% block js %}{% endblock %}
</body>

</html>