{% load leaflet_tags %}
{% load geojson_tags %}
{% load staticfiles %}

{% leaflet_css %}
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="stylesheet" href="{% static 'external/leaflet-extra-markers/css/leaflet.extra-markers.min.css' %}">
<link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" />

{% leaflet_js %}
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js' defer></script>
<script src="{% static 'external/leaflet-extra-markers/js/leaflet.extra-markers.min.js' %}"></script>


<script type="text/javascript">
    var collection = {{ sleepspots|geojsonfeature:"popupContent"|safe }};
    
    var lineCoordinate = [];

    var simpleicon = L.ExtraMarkers.icon({
        icon: 'fa-circle',
        prefix: 'fas',
        markerColor: 'blue',
    });


    function onEachFeatureClosure(map, id) {
        return function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent).on("click", ev => {
                    $(".zoom-in-popup").on("click", e => {
                        map.setView(ev.latlng, 12);
                    });
                    if(id != "global") {
                        $('.article-link-popup').hide();
                    }
                });
                if(id != "global") {
                    layer.setIcon(simpleicon);
                } else {
                    var tempDom = $('<output>').append($.parseHTML(feature.properties.popupContent));
                    var popupjq = $('.article-link-popup', tempDom);
                    if($(popupjq).hasClass('article-link-popup')) {
                        var articleicon = L.ExtraMarkers.icon({
                            icon: 'fa-number',
                            number: $(popupjq).data("letters"),
                            prefix: 'fas',
                            markerColor: 'green-light',
                            extraClasses: 'custom-marker'
                        });
                        layer.setIcon(articleicon);
                    } else {
                        layer.setIcon(simpleicon);                    
                    }
                }

                lineCoordinate.push([feature.geometry.coordinates[1],feature.geometry.coordinates[0]]);
            }
        }
    }

    function map_init(map, options) {  
        map.addControl(new L.Control.Fullscreen());
        var sleepspots_overlay = L.geoJson(collection, {onEachFeature: onEachFeatureClosure(map, $(".leaflet-container-default").attr('id'))}).addTo(map);
        if (collection.features.length > 0) {
            if (collection.features.length == 1) {
                map.setView([collection.features[0].geometry.coordinates[1], collection.features[0].geometry.coordinates[0]], 12);
            }
            else {
                map.fitBounds(sleepspots_overlay.getBounds().pad(2));
            }
        }

        var path_overlay = L.polyline(lineCoordinate, {color: 'red'}).addTo(map);

        var outdoor = L.tileLayer('https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=868563c2a5a94440bbad18257a5d9bc1');
        var classic = L.tileLayer(' https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'); 
        // .addTo(map);

        var baseMaps = {
            "OSM" : classic,
            "Outdoor": outdoor
        };

        var overlayMaps = {
            "SleepSpots": sleepspots_overlay,
            "Path": path_overlay
        };
        
        L.control.layers(baseMaps, overlayMaps).addTo(map);
    }

</script>
