{% load leaflet_tags %}
{% load geojson_tags %}
{% load staticfiles %}

{% leaflet_css %}
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="stylesheet" href="{% static 'external/leaflet-extra-markers/css/leaflet.extra-markers.min.css' %}">
<link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" />

{% leaflet_js %}
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js' defer></script>
<script src="{% static 'external/leaflet-extra-markers/js/leaflet.extra-markers.min.js' %}"></script>


<script type="text/javascript">

    var lineCoordinate = [];

    var simpleicon = L.ExtraMarkers.icon({
        icon: 'fa-circle',
        prefix: 'fas',
        markerColor: 'blue',
    });

    var bounds = L.latLngBounds();

    function locateBounds () { return bounds; }

    function onEachSleepSpotFeature(map, id) {
        return function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent).on("click", ev => {
                    $(".zoom-in-popup").on("click", e => {
                        map.setView(ev.latlng, 12);
                    });
                    if(id != "global") {
                        $('.article-link-popup').hide();
                    }
                });
                if(id != "global") {
                    layer.setIcon(simpleicon);
                } else {
                    var tempDom = $('<output>').append($.parseHTML(feature.properties.popupContent));
                    var popupjq = $('.article-link-popup', tempDom);
                    if($(popupjq).hasClass('article-link-popup')) {
                        var articleicon = L.ExtraMarkers.icon({
                            icon: 'fa-number',
                            number: $(popupjq).data("letters"),
                            prefix: 'fas',
                            markerColor: 'green-light',
                            extraClasses: 'custom-marker'
                        });
                        layer.setIcon(articleicon);
                    } else {
                        layer.setIcon(simpleicon);                    
                    }
                }

                lineCoordinate.push([feature.geometry.coordinates[1],feature.geometry.coordinates[0]]);
            }
        }
    }

    function onEachGPXFeature(map, id) {
        return function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent).on("click", ev => {
                    if(id != "global") {
                        $('.article-link-popup').hide();
                    }
                });
            }
        }
    }

    function map_init(map, options) {  
        map.addControl(new L.Control.Fullscreen());

        var lcontrollayers = L.control.layers(null, null);

        $.getJSON("{% url 'geoloc_data:gpxtrack' slug 'sleepspots' %}", function(data){
           var sleepspots_overlay = L.geoJson(data, {onEachFeature: onEachSleepSpotFeature(map, $(".leaflet-container-default").attr('id'))}).addTo(map);
            if (data.features.length > 0) {
                lcontrollayers.addOverlay( sleepspots_overlay, "SleepSpots" );
                if (data.features.length == 1) {
                    // bounds = map.layerPointToLatLng([data.features[0].geometry.coordinates[1], data.features[0].geometry.coordinates[0]]);
                    // console.log(bounds);
                    map.setView([data.features[0].geometry.coordinates[1], data.features[0].geometry.coordinates[0]], 12);

                    bounds = map.getBounds();
                } else {
                    // map.fitBounds(sleepspots_overlay.getBounds().pad(1));

                    var path_overlay = L.polyline(lineCoordinate, {color: 'red'}).addTo(map);
                    lcontrollayers.addOverlay( path_overlay, "Path" );
                    bounds.extend(sleepspots_overlay.getBounds().pad(1));      // Extend LatLngBounds with coordinates
                }
                map.fitBounds(bounds);
            } else {
                // no sleepspot associatied with this view
                $(".leaflet-container-default").hide();
            }
        });

        $.getJSON("{% url 'geoloc_data:gpxtrack' slug 'gpx' %}", function(data){
            var gpx_overlay = L.geoJson(data, {onEachFeature: onEachGPXFeature(map, $(".leaflet-container-default").attr('id'))}).addTo(map);
            if (data.features.length > 0) {
                lcontrollayers.addOverlay( gpx_overlay, "GPX" );
                bounds.extend(gpx_overlay.getBounds());
                map.fitBounds(bounds);
            }
        });

        (new L.Control.ResetView(locateBounds)).addTo(map);

        var outdoor = L.tileLayer('https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=868563c2a5a94440bbad18257a5d9bc1');
        var classic = L.tileLayer(' https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'); 
        
        lcontrollayers.addBaseLayer(classic,"OSM");
        lcontrollayers.addBaseLayer(outdoor,"Outdoor");

        lcontrollayers.addTo(map);
    }

</script>
