{% extends "photo_gallery/layout.html" %}
{% load staticfiles %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block page-title %}Where did you sleep last night ?{% endblock page-title %}
{% block title-link %}https://youtu.be/jyq-0TbBiWg?t=50{% endblock title-link %}

{% block content %}
{% leaflet_map "global" callback="window.map_init" %}
{% endblock %}

{% block js %}
{% include "geodata/mapjs.html" with tracks=tracks slug="global" %}
<script>
    $(document).ready(function(){
        $(".page-title").addClass("tooltipped").attr('data-position', 'bottom').attr('data-tooltip', '<i class="fab fa-2x fa-youtube"></i>').tooltip();
    });
</script>
{% endblock %}
