<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Splitted NZ{% endblock title %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <div class="flex-container-col">
        <div style="z-index: 1007">
            <nav class="nav-extended" role="navigation">
                <div class="flex-container-row nav-wrapper" id="nav-top">
                    <div class="flex-container-row nav-icons-left">
                        <a href="#" data-target="slide-out" class="show-on-large shadowed-black-text" id="sidenav-toggle"><i class="nav-icon fas fa-bars"></i></a>
                        <a href="{% url 'photo_gallery:gallery' %}" class="tooltipped" id="home-icon" data-position="bottom" data-tooltip="Home"><i class="nav-icon fas fa-kiwi-bird"></i></a>
                    </div>
                    <a class="page-title" href="{% block title-link %}{% url 'photo_gallery:gallery' %}{% endblock title-link %}">{% block page-title %}Splitted NZ{% endblock page-title %}</a>
                    <div class="flex-container-row nav-icons-right">
                        <a class="tooltipped" data-position="bottom" data-tooltip="Map" href="{% url 'geodata:map' %}"><i class="nav-icon fas fa-map-marked-alt"></i></a> 
                        <a href="{% url 'admin:index' %}"><i class="nav-icon fas fa-user-lock"></i></a>
                    </div>
                </div>
                <div class="flex-container-row nav-wrapper" id="nav-bottom"></div>
            </nav>
            <ul id="slide-out" class="sidenav">
              <li><div class="user-view">
                <div class="background">
                  <img class="responsive-img" src="{% static 'images/bg.jpg' %}">
                </div>
                <p><img class="circle left" src="{% static 'images/face.jpg' %}"></p></br>
                <span class="white-text shadowed-black-text name">Maxime Sainlot</span>
                <span class="white-text shadowed-black-text email">maxime.sainlot@gmail.com</span>
              </div></li>
              {% for article in article_list_cp %}
                <li><a class="waves-effect" href="{% url 'photo_gallery:article' article.1 %}">
                    <img class="responsive-img circle" src="{{ article.3.url }}">
                    <span>{{ article.0 }}</span><span class=sidenav-li-date>{{ article.2 }}</span>
                </a></li>
              {% endfor %}
            </ul>
        </div>
        <div style="flex:1 1 auto">
            {% block content %}{% endblock content %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>    
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <script src="{% static 'app.js' %}"></script>
    {% block js %}{% endblock js %}

</body>

</html>



