{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <p>
  Select the article related to these items :
  </p>  
  <select id="articles_selector" name="selected_article">
    <option  value="" selected="selected">---UNCHANGED---</option>
    {% for article in articles %}
     <option value="{{article.id}}">
         {{article.title|capfirst}}
     </option>
    {% endfor %}
    <option  value="reset">---RESET---</option>
  </select>
  </br>
  </br>
  <p>
  Are you sure you want to set the selected article on the following items ?
  </p>  
  <ul>
    {% for order in orders %}
      <li>
        {{ order }}
      </li>
      <input type="hidden" name="_selected_action" value="{{ order.pk }}" />
    {% endfor %}
  </ul>
  <input type="hidden" name="action" value="set_article" />
  <input type="submit" name="apply" value="Update"/>
</form>
{% endblock %}